# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/

# Environment variables
.env
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri / Frontend ignores
src-tauri/target/


# Android Studio / Gradle ignores (within src-tauri/gen/android)
.gradle/
build/
*.iml
*.jks
local.properties
captures/
.cxx/
*.aab
*.ap_
*.a
*.so
/google-services.json
/app/google-services.json
/app/src/main/res/raw/google_services.json
